
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
      text-align: center;
     
  }
  
  body{
    
    font-family: 'Open Sans', sans-serif;
      background-color:#FFF0C9;
      
  }

  #titulo li {
       display:inline;
       padding-left:3px;
       padding-right:3px;
      position: relative;
      left: 30%;  
      top: -55px;
      font-size: 25px;
   
  }
  #logo{
      position: relative;
  
      left: -45%;
      top:5px;
  }
  h1{
    color: #0000;
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font: italic bold 100px Georgia, Serif;
    text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #0a0e27;
  }
  button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px; 
     text-emphasis-color: black;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
  button:hover{
    color: #1883ba;
    
  }
 

    
  
 