<div class="toolbar" role="banner">
    
  </div>
  <h1>Lista de actividades</h1>
   
    <div class="container">
         
      <div class="">
          
        <img src="https://www.lototres.org/img/yogaico.jpg"  alt="" class="item-img">
        <div class="item-text" >
          <h3 id="nombreact"></h3>
          <p id="descripact"></p>
          <br>
          <h4>Horario:</h4>
          <br>
          <h5>El dia: </h5>
          <h5 id="horarioact">a las </h5>
          <br>  
           <button >Ver más</button>
           <p></p> 
        </div>     
      </div>   
    </div>
  